body {
    overflow:hidden;
}

.container {
    width: 100%;
    max-width: 500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
    color: #C84127;
    margin-top: 60px;
}
header {
    height: 15%;
    overflow:   hidden;
    position:   fixed;
    top: 0;
    z-index:1;
}

#headerID {
    padding-left: 15px;
}

.container-body {
    width: 100%;
    max-width: 700px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    z-index:-1;
}


body {
    background-color: rgb(253, 251, 223);
}


input[type=text] {
    border: 3px solid #C84127;
    border-radius: 13px;
    font-family: 'Quicksand', sans-serif;
    font-weight: Bold;
    width: 100%;
    margin-top: 5px;
    outline: none;
    height: 45px;
    text-indent: 6px;
}

.message-input {
    overflow:   none;
    position:   relative;
    outline: none;
}

ul {
    overflow:   auto;
    position:   relative;
    max-height: 500px;
}

ul li {
    font-family: 'Quicksand', sans-serif;
    font-weight: Bold;
    background-color: #67C5C2;
    color: #3D2117;
    clear: both;
}

.chatText li {
    padding: 7px 13px;
    margin-bottom: 12px;
    border-radius: 15px;
    display: inline-block;
    float: left;
}


.chatText > li:nth-child(odd){
    float: right;
    background-color: #3D2117;
    color: white;
}​



